<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="google-signin-scope" content="profile email">
   <meta name="google-signin-client_id" content="273487283165-bqorn91iag31tck4dejddojqhskllsvs.apps.googleusercontent.com">
   <link rel="stylesheet" href="/style.css">
   <scrypt  type="text/javascript" src="/lib.js"></script>
   <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="">

      <a href="/logout" >Exit</a>

    </div>
    dashboard

    <script>
      function onSignIn(googleUser) {
        console.log("wooot");
        // Useful data for your client-side scripts:
        // var profile = googleUser.getBasicProfile();
        // console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        // console.log('Full Name: ' + profile.getName());
        // console.log('Given Name: ' + profile.getGivenName());
        // console.log('Family Name: ' + profile.getFamilyName());
        // console.log("Image URL: " + profile.getImageUrl());
        // console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        // console.log("ID Token: " + id_token);

        var xhr = new XMLHttpRequest();
         xhr.open('POST', 'http://localhost:8020/tokensignin');
         xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
         xhr.onload = function() {
           if(xhr.responseText == "success"){
             // Signed response
             console.log(xhr.responseText);
             location.reload();
           }
         };
         xhr.send('idtoken=' + id_token);
      };

    // sign out button
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }

  </script>
  </body>
</html>
