<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
    <meta name="google-signin-scope" content="profile email">

   <meta name="google-signin-client_id" content="273487283165-bqorn91iag31tck4dejddojqhskllsvs.apps.googleusercontent.com">

   <script src="https://apis.google.com/js/platform.js" async defer></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

      <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <% include incl/topUserMenu.ejs %>

  <div class="container text-white pt-3">
    <h1>Settings:</h1>

    <div class="row pt-3">
            <div class="col-6">
              <h2>Calendar appointments</h2>
              <p>Turn on: <input type="checkbox"/></p>
            </div>
            <div class="col-6">
              <h2>Contact birthdays</h2>
              <p>Turn on: <input type="checkbox"/></p>
            </div>
    </div>
    <div class="row pt-3">
            <div class="col-6">
              <h2>Weather</h2>
              <p>Turn on: <input type="checkbox"/></p>
            </div>
            <div class="col-6">
              <h2>News</h2>
              <p>Turn on: <input type="checkbox"/></p>
            </div>
    </div>
    <div class="row pt-3">
            <div class="col-6">
              <h2>Traffic to work</h2>
              <p>Turn on: <input type="checkbox"/></p>
            </div>
            <div class="col-6">
              <h2>Upcoming holidays</h2>

            </div>
    </div>
    <div class="row pt-3">
            <div class="col-6">
              <h2>Google Analytics</h2>

            </div>
            <div class="col-6">
              <h2></h2>

            </div>
    </div>

  </div>

    <% include incl/script.ejs %>
    <scrypt  type="text/javascript" src="/lib.js"></script>
  </body>
</html>
