<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Brief</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="google-signin-scope" content="profile email">

   <meta name="google-signin-client_id" content="273487283165-bqorn91iag31tck4dejddojqhskllsvs.apps.googleusercontent.com">
   <!-- <scrypt  type="text/javascript" src="/lib.js"></script> -->
   <script src="https://apis.google.com/js/platform.js" async defer></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

   <link rel="stylesheet" href="/style.css">

  </head>
  <body>

<% if (needUser) { %>

    <div id="frontLogin">
      <h1>The Brief</h1>
      <p><a href="#">What is the brief?</a></p>
      <hr class="white">
      <p>Log in / Sign in with Google:</p>
      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>

<% } else { %>

  <!-- TOP MENU -->
  <% include incl/topUserMenu.ejs %>

  <div class="container text-white pt-3">
    <h1>Hello <%= user['given_name'] %></h1>
    <p>This is YOUR Brief email for every morning:</p>
    <hr class="white">
      <div class="row pt-3">
              <div class="col-6">
                <h2>Calendar appointments</h2>
                <p></p>
              </div>
              <div class="col-6">
                <h2>Contact birthdays</h2>

              </div>
      </div>
      <div class="row pt-3">
              <div class="col-6">
                <h2>Weather</h2>

              </div>
              <div class="col-6">
                <h2>News</h2>

              </div>
      </div>
      <div class="row pt-3">
              <div class="col-6">
                <h2>Traffic to work</h2>

              </div>
              <div class="col-6">
                <h2>Upcoming holidays</h2>

              </div>
      </div>
      <div class="row pt-3">
              <div class="col-6">
                <h2>Google Analytics</h2>

              </div>
              <div class="col-6">
                <h2></h2>

              </div>
      </div>
  </div>

<% } %>



  <% include incl/script.ejs %>
  <scrypt  type="text/javascript" src="/lib.js"></script>

<!-- <div style="position:fixed; bottom:0;left:0">
     <p><b>user</b> <%= user %></p>
     <p><b>needUser</b> <%= needUser %></p>
</div> -->
  </body>
</html>
