* {
  margin:0;
  padding:0
}
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1d9363 0%, #0F3544 100%);
  overflow: hidden;
}

body {
  margin-top:-6px;
  background-color: transparent;
}

a {
  color:#3ac4ff
}

.clear {
  clear:both
}

#frontLogin {
  color:white;
  text-align: center;

  position:absolute;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-130px;

  width:400px;
}
  .white {
    background: white;
  }

#frontLogin .g-signin2 {
  margin-left: -60px;
  padding-left: 50%;
}


#topPanel {
  background: #fff;

  padding:10px;
}
  #topPanel span{
    display:block; float:left;
  }
  #topPanel span {
    line-height: 125%;
  }
  #topPanel img{
    float:right;
    border-radius:50%; width:40px;

  }
  #topPanel .exit {
    float:right; padding-right:20px;
  }
  #topPanel span#userSnippet {
    float:right;
    padding:0 20px;
  }
  #topPanel .logo a, #topPanel .logo a:hover {
    font-size:2em;
    text-decoration: none;
    line-height: 40px;
    color:black; font-weight: bold;
  }
